/*
Education page
 */

.education section {
    font-size: 22px;
    border-bottom: 1px solid #474749;
    margin: 10px 5%;
    padding: 15px;
    box-sizing: border-box;
}

.education li {
    list-style: circle;
}

.education img {
    width: 20%;
    min-width: 100px;
    float: right;
    margin-right: 5%;
    margin-left: 10px;
}

.education a {
    color: #474749;
}

.education a:hover {
    text-decoration: none;
}

#certificates {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#certificates img {
    width: 40%;
    min-width: 250px;
    max-width: 700px;
    height: auto;
}

@media screen and (width<1220px) {
    .education section {
        font-size: min(22px,max(2vw,16px));;
    }
}